In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('orders.csv')

In [3]:
df.head(10)

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0
5,2019-06-13,53006,36214,26,Грузинская,2.0,0.0
6,2019-07-07,28982,20651,24,Суши,0.0,1.0
7,2019-08-01,45472,30409,24,Бургеры,37.0,4.0
8,2019-07-03,65358,43034,23,Русская,1.0,0.0
9,2019-09-19,60878,41231,23,Русская,4.0,0.0

Сколько в датафрейме колонок с типом float64?

In [4]:
df.dtypes[df.dtypes == 'float64'].shape[0]

2

Чему равно произведение количества строк на количество столбцов?

In [5]:
df.shape[0] * df.shape[1]

672826

Сколько уникальных городов в датафрейме?

In [6]:
len(df.city_id.unique())

4

Получить в общем среднее кол-во успешных заказов (ответ округлить до целого).

In [7]:
np.round(df['successful_orders'].mean())

9.0

Кол-во ресторанов специализации "Рыба"?

In [9]:
len(df[df.spec == 'Рыба'].chain_id.unique()) # в контрольной написала vendor_id

15

Количество дней, в которые у vendor_id == 40065 было меньше 20 успешных заказов.

In [10]:
len(df[(df.vendor_id == 40065) & (df.successful_orders < 20)].date.unique())

45

Среднее число заказов.

In [11]:
np.round((df['successful_orders'] + df['fail_orders']).mean())

9.0

У какого города суммарно наибольшее число успешных заказов (посмотрела и ручками ввела в форму 24).

In [12]:
df.city_id.unique()
print(df[df.city_id == 23].successful_orders.sum())
print(df[df.city_id == 25].successful_orders.sum())
print(df[df.city_id == 26].successful_orders.sum())
print(df[df.city_id == 24].successful_orders.sum())

277744.0
228518.0
232039.0
114977.0

Рестораны какой специализации имеют самую высокую долю неуспешных заказов (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов)?

In [13]:
df['total_orders'] = df['fail_orders'] + df['successful_orders']
k  = df.groupby('spec').fail_orders.sum()/df.groupby('spec').total_orders.sum()
k.sort_values(ascending = False)[[0]].index[0]

'Вегетарианское меню'

У какого ресторана был наибольший абсолютный рост числа успешных заказов в августе по сравнению с июлем?

In [14]:
k1 = pd.DataFrame(df[(df.date > '2019-07-00') & (df.date < '2019-08-00')].groupby('chain_id').successful_orders.sum())
k2 = pd.DataFrame(df[(df.date > '2019-08-00') & (df.date < '2019-09-00')].groupby('chain_id').successful_orders.sum())
k3 = k1.merge(k2, how = 'inner', on = 'chain_id')
k3['diff'] = k3['successful_orders_y'] - k3['successful_orders_x']
k3.sort_values(['diff'])

          successful_orders_x  successful_orders_y    diff
chain_id
40829                  1413.0                 60.0 -1353.0
35762                  4298.0               2999.0 -1299.0
31065                  2673.0               1903.0  -770.0
28321                  1792.0               1201.0  -591.0
27181                  3438.0               2923.0  -515.0
...                       ...                  ...     ...
14039                  3056.0               3680.0   624.0
30186                  7185.0               7889.0   704.0
36270                   412.0               1305.0   893.0
31162                 11730.0              13065.0  1335.0
29925                 11167.0              12561.0  1394.0

[773 rows x 3 columns]

In [15]:
# написала 29925